@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Proyecto Feligreses"</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Proyecto Feligreses</a>.</p>
</div>
